@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fde3f3;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: rgb(252, 2, 252);
    font-weight: 500;

}
.container.offline{
    visibility: hidden;
}
.container.show{
    visibility: visible;

}
.container .status h2 b{
    color: #09e243;
}
.container .status{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(13, 17, 34, 0.1);
    background: #f3cbe4;
}
.popup {
    position: absolute;
    width: 450px;
    left: 50%;
    top: -25%;
    visibility: hidden;
    border-radius: 5px;
    padding: 13px 17px 20px;
    background: #fff;
    display: flex;
    border-top: 3px solid #ea4d67;
    transform: translateX(-50%);
    box-shadow: 0 10px 25px rgba(52, 87, 220, 0.1);
    transition: all 0.25s ease;

}

.popup.show {
    top: 0;
    visibility: visible;
}

.popup.online {
    border-color: #2ecc71;

}

.popup .icon i {
    width: 40px;
    height: 40px;
    display: flex;
    color: #fff;
    margin-right: 15px;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ea4d67;

}

.popup .title {
    font-size: 1.2rem;
}

.popup.online .icon i {
    background-color: #2ecc71;
}

.popup .desc {
    color: #474747;
    margin: 3px 0 10px;
    font-size: 1.04rem;
}

.popup .reconnect {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 9px 15px;
    border-radius: 4px;
    background: #5372f0;
}

.popup.online .reconnect {
    background: #bfbfbf;
    pointer-events: none;
}

@media screen and (max-width:510px) {
    .container{
        font-size: 0.6rem;
        
    }
    .popup {
        width: 350px;
    }
    .popup .icon i {
        width: 30px;
        height: 30px;
    }
    .popup .title {
        font-size: 1rem;
    }
    .popup .desc {
        font-size: 0.8rem;
    }
    .popup .reconnect {
        font-weight: 300;
        font-size: 0.75rem;
    }
}